.card_title{
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
}
.card-space {
  background-color: #ffffff1d;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  color: #333;
  padding: 15px 8px;
  width: 100%;
  margin-bottom: 8px;
}


.card_space_details {
  padding: 0 5px;
  color: #fff;
  letter-spacing: 1px;
}

.card_space_details h5 {
  font-weight: 700;
  font-size: 16px;
}

.card_space_details p {
  color: rgb(160, 158, 158);
  font-size: 12px;
  color: green;
}

.card_space_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_space_btn1 {
  border: none;
  outline: none;
  background-color: goldenrod;
  color: #000000;
  padding: 8px 18px;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 8px;
}

.card_space_card_count {
  padding: 4px 30px;
  border: 4px solid rgba(128, 128, 128, 0.381);
  border-radius: 30px;
  font-weight: 600;
  color: rgb(160, 158, 158);
  margin-top: 12px;
  font-size: 12px;
}
