/* CustomPopup.css */
.popup {
  position: absolute;
  bottom: 10px;
  top: 220px;
  /* left: 50%; */
  transform: translateX(-0%);
  width: 90%;
  max-width: 400px;
  height: 14%;
  max-height: 100px;
  background: #ffffff;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 8px 10px;
  z-index: 1000;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  display: none;
}

.popup.show {
  bottom: 30px; /* Visible position */
  opacity: 1;
  display: block;
}

.popup-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: -20px;
  right: -10px;
  background: none;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: #000;
}
