.daily-task-container {
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.daily-task-container h1{
  padding: 10px 10px;
  color: #fff;
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-list-item {
  display: flex;
  align-items: center;
  background-color: #1d263e;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.task-list-item:hover {
  transform: scale(1.02);
}

.task-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 20px;
}

.task-details {
  flex-grow: 1;
}

.task-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.task-description {
  font-size: 14px;
  color: #adb5bd;
  margin-bottom: 8px;
}

.task-time {
  font-size: 14px;
  color: #ffc107;
  display: flex;
  align-items: center;
}

.bi-clock {
  margin-right: 5px;
}

/* Styling for the redirect icon */
.redirect-icon {
  font-size: 24px;
  color: #fff;
  transition: color 0.3s ease;
  background-color: #ffc107;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
}

.redirect-icon:hover {
  color: #1d263e;
}
/* Styling for the redirect icon */
.redirect-icon {
  font-size: 18px;
  color: #fff;
  background-color: #ffc107;
  text-decoration: none;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

.redirect-icon.task-completed {
  background-color: #28a745;
  cursor: not-allowed;
}

.redirect-icon:disabled {
  color: #fff;
  background-color: #6c757d;
}
