.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.task_container_main {
  width: 100%;
}

/* Advert Section */
.advert-container {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.weekly-task {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  overflow-x: auto;
}

.weekly-task::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.advert-space {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #333;
  font-size: 16px;
  padding: 20px 20px;
}

.advert_space_img {
  width: 70px;
}
.advert_space_img i {
  font-size: 3rem;
}

.advert_space_details {
  margin-top: 40px;
  padding: 0 5px;
}

.advert_space_details h5 {
  font-weight: 700;
}

.advert_space_details p {
  color: rgb(98, 97, 97);
  font-size: 14px;
}

.advert_space_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.advert_space_btn1 {
  border: none;
  outline: none;
  background-color: #fcc419;
  color: #000000;
  padding: 8px 18px;
  border-radius: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

.advert_space_card_count {
  padding: 4px 30px;
  border: 4px solid rgba(128, 128, 128, 0.381);
  border-radius: 30px;
  font-weight: 600;
  color: #6c757d;
  margin-top: 12px;
}

.no_grp_task {
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-style: dashed;
}

/* CSS for button loading spinner */
.spinner {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 2px solid white;
  width: 16px;
  height: 16px;
  animation: spin 1.2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.task-completed {
  background-color: grey;
  cursor: not-allowed;
}

.claim-button {
  background-color: #baee52;
  color: #000;
}

.task-completed,
.claim-button {
  pointer-events: none;
}

@media (max-width: 600px) {
  .dashboard-container {
    margin: 0 8px;
  }
  .advert_space_details {
    margin-top: 00px;
    padding-top: 2px;
  }
  .advert-container {
    display: flex;
    gap: 10px;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 0px 2px;
    width: 100%;
    margin-bottom: 8px;
  }

  .advert-container::-webkit-scrollbar {
    display: none;
  }

  .advert-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Optional: Customize scrollbar color */
    border-radius: 5px; /* Optional: Round scrollbar edges */
  }

  .advert-space {
    min-width: 200px;
    flex-shrink: 0;
    padding: 20px 10px;
  }

  .card-space {
    min-width: 300px;
  }
}

@media (max-width: 450px) {
  .advert_space_img img {
    width: 70%;
  }
}

/* Task Section */
.task-section {
  width: 100%;
  margin-top: 20px;
}

.task-section h3 {
  color: #ccc;
  border-bottom: 1px solid #fff;
  padding: 8px 0;
  margin-bottom: 20px;
}

.task-slider {
  display: flex;
  flex-wrap: wrap;
}

.task-card {
  background-color: #203054;
  border: 1px solid #203054;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  color: #ffffff;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(110, 114, 118, 0.35) 0px -2px 6px 0px inset;
}

.task-card:hover {
  transform: scale(1.05);
}

.task-icon {
  font-size: 30px;
  margin-bottom: 10px;
  color: #fcc419;
}

.task-title {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
}

/* Styles for Task List */
.task-list {
  list-style: none;
  padding: 0;
}

.task-list-item {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  padding: 10px 10px;
  margin-bottom: 10px;
  background-color: #000;
  border-bottom: 1px solid rgba(128, 128, 128, 0.297);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.task-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.task-list-item i {
  color: #fff;
  font-size: 2rem;
}

.task-time {
  font-size: 14px;
  color: #ffffffae;
  letter-spacing: 1px;
}


.redirect-icon:hover {
  color: #fff;
}
.redirect-icon {
  font-size: 18px;
  color: #000;
  background-color: #fcc419;
  text-decoration: none;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 40px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

.start-redirect-icon {
  font-size: 14px;
  color: #000;
  background-color: #fcc419;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 25px;
  border-radius: 40px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

.tabs-container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tabs-container::-webkit-scrollbar {
  display: none;
}



.tabs-container button {
  padding: 0px 0px;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #000;
  color: gray;
  border: none;
  font-weight: 600;
  outline: none;
  transition: background-color 0.3s;
  position: relative;
}

.tabs-container button.active {
  color: #fff;
  font-weight: 700;
}

.task-container {
  width: 100%;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  margin: 5px;
}
.modal_submit_btn {
  background-color: #fcc419;
  color: #000;
  font-size: 14px;
  margin-top: 20px;
}

.weekly_Card {
  display: flex;
  gap: 8px;
  overflow-x: auto;
}
.weekly_Card::-webkit-scrollbar {
  display: none;
}

@media (max-width: 500px) {
  .content {
    padding: 0 4px;
  }
  .task-title {
    font-size: 14px;
  }
  .redirect-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 25px;
    font-size: 14px;
  }
}

.custome-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tsk-modal-conten .modal-header {
  background-color: #000;
  color: #fff;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.custom-modal .modal-dialog {
  animation: slideUp 0.4s ease-out;
  position: fixed;
  bottom: 0;
  margin: 0px;
  width: 100%;
  max-width: none;
}

.modal-tsk-content {
  background-color: #000000;
  color: #fff;
  width: 100%;
  max-width: 100%;
}

.grp-tsk-cls-tbn {
  background-color: #000;
  color: #fff;
}


.invite_btn {
  background-color: #fcc419;
  color: #000;
  font-size: 14px;
  margin-top: 20px;
}

.invite_btn:disabled {
  background-color: rgba(256, 256, 256, 0.2);
  color: #ffffffdb;
  cursor: not-allowed;
}