.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.task_container_main{
  display: flex;
  gap: 40px;
}

/* Advert Section */
.advert-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.advert-space {
  background-color: #f4f4f4;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #333;
  font-size: 16px;
}

/* Task Section */
.task-section {
  width: 100%;
  margin-top: 20px;
}

.task-section h3{
  color: #ccc;
  border-bottom: 1px solid #fff;
  padding: 8px 0;
  margin-bottom: 20px;
}

.task-slider {
  display: flex;
  flex-wrap: wrap;
}

.task-card {
  background-color: #203054;
  border: 1px solid #203054;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  color: #ffffff;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(110, 114, 118, 0.35) 0px -2px 6px 0px inset;
}

.task-card:hover {
  transform: scale(1.05);
}

.task-icon {
  font-size: 30px;
  margin-bottom: 10px;
  color: #ffc107;
}

.task-title {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
}
