.invite_fren {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  padding: 0 10px;
}

.invite_fren h1 {
  color: #fff;
  letter-spacing: 1px;
  font-size: 24px;
}

.invite_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
}

.invite_link p {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

.invite_link i {
  font-size: 18px;
  color: white;
}

.invite_link button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invite_fren_stats {
  display: grid;
  gap: 0.7rem;
  margin-top: 0.7rem;
  grid-template-columns: repeat(2, 1fr);
}

.invite_fren_stats_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 8px;
  width: 100%;
}

.invite_fren_stats_item h2 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 1px;
}

.invite_fren_stats_item p {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}

.invite_fren_reward {
  display: flex;
  padding: 0 20px;
  gap: 10px;
  align-items: center;
}

.invite_fren_reward_icon {
  width: 50px;
  height: 50px;
  background-color: #fab005;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
}

.invite_fren_reward h3 {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  opacity: 0.7;
  margin-bottom: 0;
}

.hr {
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  margin-bottom: 20px;
}