.invite_fren {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  padding: 0 10px;
}
.invite_fren i {
  font-size: 60px;
  color: goldenrod;
}
.invite_fren h1 {
  color: #fff;
  letter-spacing: 1px;
}

.invite_desc {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  opacity: 0.7;
}

.invite_score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.5rem;
  gap: 15px;
}

.invite_score_item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 8px;
  padding-left: 10;
  padding-right: 0;
}

.invite_score_item h3 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 1rem;
}

.invite_score_item h2 {
  color: #fff;
  font-size: 30px;
  letter-spacing: 1px;
  margin-right: 1rem;
  font-weight: bold;
}

.invite_score_item p {
  color: #fab005c7;
  font-size: 14px;
  letter-spacing: 1px;
}

.how_it_works {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 1rem;
  border-radius: 8px;
  padding: 15px;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

.how_it_works h3 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

.how_it_works p {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  opacity: 0.7;
}

/* Invite button */
.invite_btn {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fab005;
  font-weight: 700;
  padding: 15px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s all;
  width: 100%;
}

.invite_btn:disabled {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: not-allowed;
  color: #ffffffa2;
}
