.main_img_container {
  padding: 8px 0;
}
.main_img_container img {
  width: 100%;
  border-radius: 8px;
  padding: 0 4px;
}

.home_title {
  margin-top: 8px;
  padding: 8px 0;
}
.home_title h3 {
  color: #fff;
  text-align: center;
}

.home_desc {
  color: #fff;
  padding: 8px 4px;
}

.img_collage {
  display: flex;
  gap: 10px;
  height: 120px;
  margin-top: 8px;
}
.img_collage img {
  width: 48%;
  border-radius: 6px;
  padding: 0 0px;
}

.home_redirection_btn {
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
}
