/* Video container styling */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.l-header {
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 40px 20px;
}

.l-avtar {
  background-color: #2570EE;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
}

.l-stats {
  padding: 0 20px;
display: flex;
justify-content: space-between;
}

.l-stats-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: #fff;
  gap: 10px;
  text-align: center;
}

.l-stat-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282828;
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  font-family: 700;
  font-size: 25px;
}

.l-card {
  background-color: #BABBBD;
  padding: 15px;
  border-radius: 15px;
}

.l-card h2 {
  font-weight: 700;
  margin-bottom: 15px;
}

.l-card button {
  background-color: #282828;
  margin-left: 0;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 30px;
}

.l-card-2 {
  background-color: #2570EE;
  padding: 15px;
  border-radius: 15px;
  color: #fff;
}

.l-card-2 h2 {
  font-weight: 700;
  margin-bottom: 15px;
}

.l-card-2 button {
  background-color: #fff;
  margin-left: 0;
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 30px;
  color: #282828;
}