/* App container */
.app {
  font-family: Arial, sans-serif;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #181818;
  position: relative;
}

.navbar ul {
  padding-left: 0rem;
  margin-bottom: 0rem;
}

.logo h2 {
  margin: 0;
}

.header_log button {
  padding: 6px 18px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  border: 2px solid goldenrod;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  transition: 0.5s all;
  font-weight: 700;
}

.header_log button:hover {
  background-color: goldenrod;
  color: #000;
}

/* Hamburger menu */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav-items {
  display: flex;
  list-style: none;
  transition: max-height 0.3s ease-in-out;
}

.nav-items li {
  margin-right: 20px;
}

.nav-items .nav-link {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  letter-spacing: 1px;
}

.nav-items .nav-link:hover {
  background-color: #1d263e;
}

.nav-items .nav-link.active {
  background-color: #ffc107;
}

/* Mobile responsive styles */
@media (max-width: 790px) {
  .nav-items {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #12192c;
    max-height: 0;
    overflow: hidden;
  }

  .nav-items.open {
    max-height: 500px; /* Adjust as needed */
  }

  .nav-items li {
    margin: 10px 0;
    text-align: center;
  }

  .hamburger {
    display: block;
  }
}

/* Content area */
.content {
  padding: 20px;
  margin-bottom: 80px;
}

/* Add this to App.css */

/* Dropdown opens on hover */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.three-dots {
  position: relative;
  cursor: pointer;
  color: #fff;
}

.dropdown-menu {
  position: absolute;
  right: 0px;
  top: 40px;
  left: -140px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu ul li:hover {
  background-color: #f2f2f2;
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: black;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.dropdown-toggle::after {
  display: none;
}
