/* App container */
.app {
  font-family: Arial, sans-serif;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #181818;
  position: relative;
}

.navbar ul {
  padding-left: 0rem;
  margin-bottom: 0rem;
}

.logo h2 {
  margin: 0;
}

.header_log button {
  padding: 8px 25px;
  border-radius: 4px;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: #686c70ad;
  cursor: pointer;
  color: #fff;
  transition: 0.5s all;
}

.header_log button:hover {
  background-color: #686c70e9;
}

/* Hamburger menu */
.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.nav-items {
  display: flex;
  list-style: none;
  transition: max-height 0.3s ease-in-out;
}

.nav-items li {
  margin-right: 20px;
}

.nav-items .nav-link {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  letter-spacing: 1px;
}

.nav-items .nav-link:hover {
  background-color: #1d263e;
}

.nav-items .nav-link.active {
  background-color: #ffc107;
}

/* Mobile responsive styles */
@media (max-width: 790px) {
  .nav-items {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #12192c;
    max-height: 0;
    overflow: hidden;
  }

  .nav-items.open {
    max-height: 500px; /* Adjust as needed */
  }

  .nav-items li {
    margin: 10px 0;
    text-align: center;
  }

  .hamburger {
    display: block;
  }
}

/* Content area */
.content {
  padding: 20px;
  margin-bottom: 80px;
}
